* {
	margin: 0;
	padding: 0;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
h1 {
	font-size: 35px;
	font-weight: 600px;
}
.password {
border-radius: 5px;
outline: none;
padding: 15px;
margin: 20px;
font-size: 20px;
}
.password-btn {
margin-bottom: 20px;
padding: 8px;
background-color: blueviolet;
border-radius: 2px;
border: none;
cursor: pointer;
cursor: pointer;
color: #fff;
font-size: 16px;

}
.generate-password {
	margin-bottom: 20px;
padding: 8px;
background-color: blueviolet;
border-radius: 2px;
border: none;
cursor: pointer;
color: #fff;
font-size: 16px;
}
.password-btn:hover {
background-color: rgb(135, 36, 201);
transition: 0.3s ease-in;
}
.generate-password:hover {
	background-color: rgb(135, 36, 201);
transition: 0.3s ease-in;
}
.colorChange {
	background-color: blueviolet;
	padding: 15px;
	border: none;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
}
.colorChange:hover {
	background-color: rgb(135, 36, 201);
transition: 0.3s ease-in;
}